
        
        h1 {
            color: rgb(60, 0, 255);
        }  
        
        body {
            background-color: rgb(182, 225, 245);
        }
            
        .header {
                display: flex;
                justify-content: center;
}
        .header-github {
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 25px;
}
        .header-buttons {
          margin: auto;
}

 <img src="mybanner.jpg" alt="banner" class="center">
        .banner {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        }
