
        
        h1 {
            color: rgb(60, 0, 255);
        }  
        
        body {
            background-color: rgb(182, 225, 245);
        }
            

 <img src="mybanner.jpg" alt="banner" class="center">
        #mybanner.jpg {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        }
#mybanner.jpg {
        width: 100%;
        height: 50vh;
}
