
        
        h1 {
            color: rgb(60, 0, 255);
        }  
        
        body {
            background-color: rgb(182, 225, 245);
        }
            

 <img src="mybanner.jpg" alt="banner" class="center">
        .banner {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        }
.banner {
width:100%;
height:50vh;
background-image: url(mybanner.jpg);
background-size: cover;
background-repeat: no-repeat;

.header {
        display: flex;
        justify-content: center;
}

p {
  text-align: center;
}
